<div class="flex items-center justify-center flex-1 bg-repeat bg-lines">
  <div class="wrapper narrow py-16">
    <div class="space-y-8 text-center">
      <div id="SiteHero" class="index-wrapper">
        <section
          class="flex flex-col items-center gap-8 mx-auto lg:w-1/2 lg:py-16 xl:w-[660px]"
        >
          <span class="bubble">{{ site.conference_dates }}</span>

          <img src="/assets/img/2027/logo.png" class="w-full" alt="DjangoCon US" />

          <p class="text-xl text-center w-3/4">
            Join us for five days of inspiration, education, and networking at the Riverside Convention Center in the heart of Riverside, California.
          </p>
          <div class="p-5">
            <div class="justify-center p-2 button-group">
              <a
                class="button button-lg bg-primary"
                href="/sponsors/information/"
                >Sponsors</a
              >
              <a
                class="button button-lg bg-white"
                href="{{ site.mailing_list }}"
                >Join Mailing List</a
              >
            </div>
          </div>
        </section>
      </div>

    </div>
  </div>
</div>
