<ul class="flex flex-wrap justify-center my-6 gap-8">
  <li>
    <a class="hover:text-social-mastodon" href="{{ site.social.mastodon }}">
      <svg class="w-6 h-6 icon">
        <title>Mastodon</title>
        <use xlink:href="#mastodon-icon"></use>
      </svg>
    </a>
  </li>
  <li>
    <a class="hover:text-social-bluesky" href="{{ site.social.bluesky }}">
      <svg class="w-6 h-6 icon">
        <title>Bluesky</title>
        <use xlink:href="#bluesky-icon"></use>
      </svg>
    </a>
  </li>
  <li>
    <a class="hover:text-social-twitter" href="{{ site.social.twitter }}">
      <svg class="w-6 h-6 icon">
        <title>X (Formerly Twitter)</title>
        <use xlink:href="#twitter-icon"></use>
      </svg>
    </a>
  </li>
  <li>
    <a class="hover:text-social-github" href="{{ site.social.github }}">
      <svg class="w-6 h-6 icon">
        <title>Github</title>
        <use xlink:href="#github-icon"></use>
      </svg>
    </a>
  </li>

  <li>
    <a class="hover:text-social-linkedin" href="{{ site.social.linkedin }}">
      <svg class="w-6 h-6 icon">
        <title>LinkedIn</title>
        <use xlink:href="#linkedin-icon"></use>
      </svg>
    </a>
  </li>
</ul>
