{% capture presenter_names %}{% for presenter_slug in session.presenter_slugs %}{% assign presenter = collections.presenters | find:presenter_slug %}{% if forloop.first %}{% elsif forloop.last %}{% if session.presenter_slugs.size > 2 %}, and {% else %} and {% endif %}{% else %}, {% endif %}{{ presenter.data.name }}{% endfor %}{% endcapture %}{% if session.templateContent %}{{ session.templateContent }}
{% endif %}
This talk was presented by {{ presenter_names }} at DjangoCon US {{ site.conf_year }}
{{ site.domain }}{{ session.permalink }}

LINKS:{% for presenter_slug in session.presenter_slugs %}{% assign presenter = collections.presenters | find:presenter_slug %}{% assign presenter = presenter.data %}{% if presenter.social.github or presenter.social.mastodon or presenter.social.twitter or presenter.social.website %}
Follow {{ presenter.name }} 👇
{% if presenter.social.github %}On GitHub: https://github.com/{{ presenter.social.github }}
{% endif %}{% if presenter.social.mastodon %}On Mastodon: {{ presenter.social.mastodon }}
{% endif %}{% if presenter.social.twitter %}On X: https://x.com/{{ presenter.social.twitter }}
{% endif %}{% if presenter.social.website %}Website: {{ presenter.social.website }}
{% endif %}
{% endif %}{% endfor %}
Follow DjangoCon US 👇
{{ site.social.mastodon }}
{{ site.social.bluesky }}
{{ site.social.x }}
{{ site.social.linkedin }}

Follow DEFNA 👇
https://www.defna.org/

Video production by the presenter and DjangoCon US {{ site.conf_year }} volunteers.
