table {
  @apply border-collapse border-spacing-0;
  @apply w-full;
}

th {
  @apply p-4;
  @apply font-semibold text-lg text-left text-white;
  @apply bg-black;
}

th:first-child {
  @apply rounded-tl;
}

th:last-child {
  @apply rounded-tr;
}

td {
  @apply px-4 py-2;
}

tr:nth-child(even) {
  @apply bg-gray-100;
}
