@import "tailwindcss/base";
@import "tailwindcss/components";

@import "components/_badge.css";
@import "components/_banner.css";
@import "components/_bubble.css";
@import "components/_buttons.css";
@import "components/_table.css";
@import "components/_containers.css";
@import "components/_site-nav.css";
@import "components/_footer.css";

@import "views/_social-view.css";
@import "views/_index.css";

@import "utilities/_fonts.css";

@import "tailwindcss/utilities";

@theme {
  --breakpoint-xs: 30rem;
}

@layer base {
  /* THEME-X */
  :root {
    /* Typography */
    --theme-text-color: theme("colors.black.DEFAULT");
  }

  /*
    h-screen and flex-col on the body allow the footer
    to be fixed to the bottom of the viewport.
  */
  html {
    @apply scroll-smooth;
  }

  html,
  body {
    @apply h-screen;
  }

  body {
    @apply relative flex flex-col;
    @apply antialiased;
    font-weight: 500;
    color: var(--theme-text-color);
  }

  figcaption {
    @apply mt-3 text-sm text-center;
  }

  input:not([type="checkbox"]):not([type="radio"]),
  select,
  textarea {
    @apply w-full px-3 py-2;
    @apply border border-gray-400 rounded shadow-sm;
    @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100;
  }

  label {
    @apply block mb-2 font-medium;
  }

  ::placeholder {
    @apply text-gray-500;
  }

  a,
  .link {
    @apply underline;
  }

  a:hover,
  .link:hover {
    @apply no-underline;
  }

  :focus-visible {
    outline: 6px solid theme('colors.orange.DEFAULT');
  }

  a.reverse-link {
    @apply no-underline;
  }

  a.reverse-link:hover {
    @apply underline;
  }

  .icon {
    @apply inline-block align-middle;
    @apply w-6 h-6;
  }

  .media {
    @apply rounded;
  }

  .organizer-cell {
    @apply text-center;

    & .icon {
      @apply w-5 h-5;
    }
  }

  .avatar {
    @apply block w-full aspect-square my-4 object-cover object-left-top;
    @apply border-2 rounded-full;
  }


  .subheading {
    @apply text-xl font-medium leading-tight;
    @apply lg:text-2xl;
  }

  .lead {
    @apply text-lg leading-8;
    @apply lg:text-xl lg:leading-8;
  }

  /* THEME-X */
  /* Previous years have used an effect on photos, such as a gradient overlay */
  .photo-effect {}

  /* THEME-X */
  /* Previous years have used an effect on cards. There are 3 types used in templates. */
  .card-effect-1,
  .card-effect-2,
  .card-effect-3 {}

  #loader {
    @apply w-8 h-8 rounded-full m-auto;
    border: 5px solid #f3f3f3;
    border-top: 6px solid theme('colors.ocean-blue.DEFAULT');
    animation: spin 1s infinite linear;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

@layer components {
  .prose {
    line-height: 1.5;
  }

  .prose a {
    @apply link;
  }

  .prose h2 {
    @apply site-h2 mt-8 mb-4;
  }

  .prose h3 {
    @apply site-h3;
  }
}

@layer utilities {
  .font-heading {
    @apply font-tanker font-normal;
  }

  .cover::before {
    @apply absolute top-0 left-0;
    @apply w-full h-full;
    content: '';
  }

  .bg-sep {
    background-image: linear-gradient(180deg, transparent 47%, theme(colors.gray.100) 50%, transparent 53%);
  }

  .site-h1, 
  .pageheading {
    @apply font-heading text-4xl lg:text-h1;
  }

  .site-h2 {
    @apply font-heading text-3xl lg:text-h2;
  }

  .site-h3 {
    @apply font-heading text-h3;
  }
}

.site-sponsors {
  @apply grid grid-cols-1 gap-4;
  @apply sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
}

.site-sponsor {
  @apply flex flex-col;
  @apply p-4;
  @apply bg-background rounded-2xl border border-background;
  box-shadow: 0px 0px 0px 2px inset white;

  & > a {
    @apply flex flex-col items-center;
    @apply gap-4;
    @apply no-underline;
  }
}
